@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Medium.eot');
    src: url('subset-Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Medium.woff2') format('woff2'),
        url('subset-Roboto-Medium.woff') format('woff'),
        url('subset-Roboto-Medium.ttf') format('truetype'),
        url('subset-Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('subset-Roboto-Regular.eot');
    src: url('subset-Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('subset-Roboto-Regular.woff2') format('woff2'),
        url('subset-Roboto-Regular.woff') format('woff'),
        url('subset-Roboto-Regular.ttf') format('truetype'),
        url('subset-Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*{
    box-sizing: border-box;
}

.desktop {
    background-color: #F9F9F9;
}

.header {
    background-color: #EEEFF1;
}

.first-screen-menu {
    width: 1110px;
    padding-top: 79px;
    margin-right: auto;
    margin-left: auto;
}

a{
    text-decoration: none;
    color: black;
}

a.menu-first{
    color: #34547A;
}

.menu {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-left: 42px;
    text-decoration: none;
}
.menu.first {
    margin-left: 0px; 
}
 
.first-screen{
    background-color: #EEEFF1;
}

.container-first-screen{
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 141px;
}

.title-1{
    font-family:'Roboto', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    margin-top:160px
}
.text-1{
    display: block;
    width: 540px;
    margin-top: 45px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    color: #727272;
}
.button{
    display: inline-block;
    background-color: #34547A;
    padding: 19px 41px 20px 41px;
    margin-top: 54px;
    font-family: 'Roboto', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
}

.about-me{
    background-color: #F9F9F9;
}

.container-about-me{
    display: block;
    width: 1110px;
    margin-right: auto;
    margin-left: auto;  
    padding-top: 112px;
    padding-bottom: 89px;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #000000;
}

.text{
    display: block;
    width: 540px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;  
    margin-right: auto;
    margin-left: auto; 
    margin-top: 42px;
    color: #727272;
}

.numbers{
    background-color: #34547A;
}

.container-numbers{
    display: block;
    width: 1110px;
    margin-right: auto;
    margin-left: auto;  
    padding-top: 100px;
    padding-bottom: 100px;
}

.card{
    display: inline-block;
    margin-left: 50.33px;
}

.card-1{
    display: inline-block;
}

.lines{
    display: inline-block;
    margin-left: 25px;
    color: #FFFFFF;
    font-family:'Roboto', sans-serif;
    vertical-align: top;
    margin-left: 20px;
}

.first-line{
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
}

.second-line{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin-top: 5px;
}

.icon{
    width: 46.67px;
    height: 50px;
}

.video-block {
    background-color: #F9F9F9;
}

.container-video{
    display: block;
    width: 1110px;
    margin-right: auto;
    margin-left: auto;  
    padding-top: 100px;
    padding-bottom: 100px;
}

.video{
    margin-top: 46px;
}

.footer{
    background-color:#34547A;
}

.container-footer{
    display: block;
    width: 1110px;
    margin-right: auto;
    margin-left: auto; 
    padding-top: 50px;
    padding-bottom: 47px;
}
.name{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;  
    color: #FFFFFF;
    
}

.copyright{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin-top: 15px;
}

